<dom-module id="not-found-component-style">
    <template>
        <style include="shared-layout"></style>
        <style include="shared-content"></style>
        <style>
            :host {
                @apply(--flex-column);
                flex-grow: 1;
            }

            h1 {
                margin: 0;
                color: var(--dark-green-color);
                font-family: 'corporate-a', serif;
                font-size: 4.0rem;
                font-weight: 400;
                margin-bottom: 1.5rem;
            }

            p {
                margin: 0;
                font-family: 'corporate-s', sans-serif;
                color: var(--grey-color);
                font-size: 1.9rem;
                font-weight: 400;
                margin-bottom: 2.5rem;
            }

            contact-container {
                display: flex;
                align-items: center;
            }

            x-icon {
                height: 42px;
                width: 42px;
            }

            a {
                display: block;
                margin: 0;
                padding: 0;
                font-style: normal;
                color: var(--secondary-color);
                line-height:  1.1;
                font-family: 'corporate-s', sans-serif;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                text-decoration: none;
                font-size: 2rem;
                font-weight: 700;
            }

        </style>
  </template>
</dom-module>