<link rel="import" href="about-component-style.html">

<dom-module id="about-component">

    <template>

        <style include="about-component-style"></style>

        <content-component>

            <text-container>
                <text-element h1>[[campaign.attributes.aboutHeading]]</text-element>
                <text-element preamble html="[[campaign.attributes.aboutBody]]"></text-element>
            </text-container>

            <loader linear hidden$="[[aboutList]]"></loader>

            <card-list-element>
                <template is="dom-repeat" items="[[aboutList]]" as="about">
                    <card-item-element>
                        <highlight-content hidden$="[[!about.preferred]]">
                            <text-element highlight>[[localize('about-component.preferred.title')]]</text-element>
                        </highlight-content>
                        <area-content>
                            <x-icon card-icon name="icon-about-[[about.type]]"></x-icon>
                            <text-element h2 align="center" margin-none>[[localize('about-component.card.title', 'type', about.type)]]</text-element>
                        </area-content>
                        <action-content>
                            <action-button-element margin-none on-click="goForward" type="[[about.type]]" id="[[about.id]]" hidden$="[[!about.preferred]]">[[localize('about-component.action')]]</action-button-element>
                            <action-button-element margin-none on-click="goForward" type="[[about.type]]" id="[[about.id]]" hidden$="[[about.preferred]]" secondary>+[[about.price]] [[about.priceUnit]]</action-button-element>
                        </action-content>
                    </card-item-element>
                </template>
            </card-list-element>
        </content-component>

    </template>

    <script src="about-component.js"></script>

</dom-module>