@font-face {
    font-family: "corporate-a";
    src: url("/assets/fonts/corporate-a-regular/9ac57c08-7bb6-4d47-a5a2-759ad35bb019.eot?#iefix");
    src: url("/assets/fonts/corporate-a-regular/9ac57c08-7bb6-4d47-a5a2-759ad35bb019.eot?#iefix") format("eot"),
    url("/assets/fonts/corporate-a-regular/7124b8ab-1df6-4094-a1b0-22d911aaa68c.woff2") format("woff2"),
    url("/assets/fonts/corporate-a-regular/621b553b-0314-401b-97ce-2e96280626ef.woff") format("woff"),
    url("/assets/fonts/corporate-a-regular/2dff8902-b0d3-49c5-9907-d2e86062b694.ttf") format("truetype"),
    url("/assets/fonts/corporate-a-regular/f350927e-8767-4ed7-8ae0-eb6b9c785c99.svg#f350927e-8767-4ed7-8ae0-eb6b9c785c99") format("svg");
    font-weight: 400;
    font-style: normal;
}