@font-face {
    font-family: "corporate-s";
    src: url("/assets/fonts/corporate-s-bold/c93effdd-72b8-4607-82e5-6a67f31438c6.eot?#iefix");
    src: url("/assets/fonts/corporate-s-bold/c93effdd-72b8-4607-82e5-6a67f31438c6.eot?#iefix") format("eot"),
    url("/assets/fonts/corporate-s-bold/6b4f9c15-167b-4048-9aef-62dd49e9a6fa.woff2") format("woff2"),
    url("/assets/fonts/corporate-s-bold/e42e739a-16ae-450d-9d6c-d28c1997200c.woff") format("woff"),
    url("/assets/fonts/corporate-s-bold/18b265d4-4bba-46c6-8791-d3f5fb0b9fc7.ttf") format("truetype"),
    url("/assets/fonts/corporate-s-bold/a6aa8f5a-d8cc-4438-acb7-c38c9bdd92f3.svg#a6aa8f5a-d8cc-4438-acb7-c38c9bdd92f3") format("svg");
    font-weight: 700;
    font-style: normal;
}